.flex-container {
    width: 100%;
    display: flex;
}

.statistics-container {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
}

.stats-column {
    width: 50%;
    overflow: scroll;

    // FIXME: fixed this by undestanding the usecase of first-child and first-of-type
    thead tr:hover {
        background-color: inherit;
    }

    tr {
        transition: all 0.3s ease-in;

        &:nth-child(even) {
            background-color: #1D2023;
        }


        &:hover {
            background-color: #465765;
            box-shadow: 0 2px 6px 5px rgba(255, 255, 255, 0.05);
            cursor: pointer;
        }
    }


    th {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: normal;
    }

    td {
        font-size: 0.8em;
    }
}

.surname,
.firstname {
    display: block;
    line-height: 1.1;
}

.candidates{
    &-column {
        width: 28%;
        background-color: #23272B;
        padding: 20px 50px;
    }

    &-card {
        width: 100%;
        border-radius: 3px;
        background-color: #30373D;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
        padding: 20px;
    }
}

.candidate {
    &-vote-info {
        display: flex;

        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }

    &-image {
        width: 30%;
    }

    &-name {
        width: 40%;
    }

    &-stat {
        width: 30%;
        text-align: right;
    }
}

.vote-count {
    &-header {
        color: #73838E;
    }

    &-stat {
        color: #98A3A9;
    }

}

.progress-bar {
    background-color: #30373D;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.indicator {
    background-color: #417505;
    border-radius: 5px;
    height: 100%;
    width: 0;
}