@import '../../components/common';

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.statistics-container {
    padding-top: 50px;
    width: 100vw;
    height: 100vh;

    @include mobile {
        height: 100%;
        flex-direction: row;
        padding: 0;
    }
}

.stats-column {
    width: 50%;
    overflow: scroll;

    @include mobile {
        width: 100%;
        display: none;

        &.show {
            display: block;
        }
    }

    thead {
        @include mobile {
            display: none;
        }
    }

    // FIXME: fixed this by undestanding the usecase of first-child and first-of-type
    thead tr:hover {
        background-color: inherit;
    }

    tr {
        transition: all 0.3s ease-in;

        &:nth-child(even) {
            background-color: #1D2023;

            @include mobile {
                background-color: inherit;
            }
        }

        &:nth-child(odd) {
            background-color: inherit;

            @include mobile {
                background-color: #1D2023;
            }
        }


        &:hover {
            background-color: #465765;
            box-shadow: 0 2px 6px 5px rgba(255, 255, 255, 0.05);
            cursor: pointer;
        }
    }


    th {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: normal;
        padding-left: 0;

        &:last-child {
            text-align: right;
            padding-right: 30px;
        }
    }

    td {
        font-size: 0.8em;
        padding: 0;

        @include mobile {
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }

        &:last-child {
            text-align: right;
            padding-right: 30px;

            @include mobile {
                padding-right: 15px;
            }
        }
    }
}

.candidate-thumbnail {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;

    div {
        padding: 0;
    }
}

.surname,
.firstname {
    display: block;
    line-height: 1.1;

    @include mobile {
        display: inline-block;
        margin-right: 5px;
    }
}

.inline-block {
    display: inline-block;
}

.candidates{
    &-column {
        width: 28%;
        background-color: #23272B;
        padding: 20px 50px;
        overflow: scroll;

        @include mobile {
            display: none;
            width: 100%;
            padding: 20px;

            &.show {
                 display: block;
            }
        }
    }

    &-card {
        width: 100%;
        border-radius: 3px;
        background-color: #30373D;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
        padding: 20px;
    }
}

.candidate {
    &-vote-info {
        display: flex;

        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }

    &-image {
        width: 30%;
    }

    &-name {
        width: 40%;
    }

    &-vice-name{
        display: none;

        @include mobile {
            display: block;
            span {
                font-size: 10px;
                color: #73838E;
            }
        }
    }

    &-stat {
        width: 30%;
        text-align: right;
    }
}

.vote-count {
    &-header {
        color: #73838E;
    }

    &-stat {
        color: #98A3A9;
    }

}

.progress-bar {
    background-color: #30373D;
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.indicator {
    background-color: #417505;
    border-radius: 5px;
    height: 100%;
    width: 0;
}

.twitter-column {
    width: 22%;
    height: 100%;
    background-color: #30373D;

    &.show {
        display: block;
    }

    @include mobile {
        width: 100%;
        height: 100vh;
        display: none;
    }
}

.tabbed-nav {
    display: none;

    @include mobile {
        display: flex;
        padding-top: 0;
    }

    li {
        width: 50%;
        text-align: center;
        list-style: none;
        font-size: 0.75rem;
        padding: 10px 0;
    }
}

.mobile-party {
    display: none;
    @include mobile {
        display: block;
        font-size: 10px;
    }
}