.candidate {
    &-container {
        display: flex;
        padding-top: 50px;
        width: 100vw;
        height: 100vh;
    }

    &-detail-column {
        width: 35%;
        height: 100%;
        padding: 50px 0 0 100px;
        position: relative;
    }

    &-image-column {
        width: 40%;
        height: 100%;
        background-color: #ccc;
        z-index: 1;
        position: relative;
    }

    &-vice-column {
        width: 25%;
        height: 100%;
        padding: 50px;
    }

    &-name {
        font-size: 100px;
        font-weight: 300;
        line-height: 1;
        margin-top: 50px;
        white-space: nowrap;
        z-index: 999;
        position: relative;
    }

    &-description {
        padding-right: 50px;
        margin-top: 30px;
    }
}

.vice {
    &-image {
        width: 100%;
        height: 250px;
        background-color: #9b9b9b;
    }

    &-name {
        font-size: 40px;
        font-weight: 300;
        margin-top: 30px;
    }

    &-description {
        margin-top: 30px;
    }

}

.full-image {
    width: 100%;
    height: 100%;
    display: block;
}

.close-section {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}