// global styles
%font-weight-light {
    font-weight: 300;
}

.scrollable {
    overflow-y: scroll;
}


// end of global styles

.team {
    max-width: 1260px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 0 50px;

    &-intro {
        width: 50%;
        padding-right: 100px;

        h1 {
            font-size: 100px;
            font-weight: 300;
            color: #465765;
        }
    }

    &-members {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.member {
    &-box {
        width: 40%;
    }

    &-image {
        width: 100%;
        height: 250px;
        background-color: #fff;
    }

    &-name {
        @extend %font-weight-light;
        font-size: 40px;
        margin-top: 30px;
    }

    &-profession {
        @extend %font-weight-light;
        font-size: 15px;
    }

    &-description {
        color: #9b9b9b;
    }
}