@import '../components/common';

// global styles
%font-weight-light {
    font-weight: 300;
}

// helper mixin
@mixin gridRow($x, $y) {
    grid-row-start: $x;

    if($y) {
        grid-row-end: $y;
    }

}

@mixin gridColumn($x, $y) {
    grid-column-start: $x;
    grid-column-end: $y;
}

// end of global styles

.index-container {
    width: 100vw;
    height: 100vh;
    display: flex;

    @include mobile {
        height: 100%;
        flex-direction: column;
        padding: 0 20px;
        padding-top: 60px;
    }
}

.header {
    @extend %font-weight-light;
    font-size: 80px;
    line-height: 1.2;

    span {
        font-size: inherit;

        @include mobile {
            padding-right: 10px;
            font-size: 16px;
        }
    }

    @include mobile {
        font-size: 20px;
        display: inline-block;
    }
}

.left-column {
    width: 25%;
    padding: 50px 0 0 20px;


    @include mobile {
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
    }
}

.right-column {
    width: 75%;
    height: 100%;
    padding-top: 50px;
    overflow: scroll;

    @include mobile {
        padding-top: 10px;
        width: 100%;
    }

    &-header {
        @extend .header;

        @include mobile {
            font-size: 35px;
        }
    }

    &>p {
        font-weight: 300;
    }
}



.text-dark {
    color: #30373d;
}

.text-grey {
    color: #cfcfcf;
}

.election-date {
    border-left: 1px solid green;
    padding: 0 0 30px 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;

    @include mobile {
        font-size: 14px;
    }
}

.text-green {
    color: green;
}

.text-white {
    color: #fff;
}

.text-small {
    font-size: 0.75rem;
    line-height: 1.5;
}

.grid {

    &-text-box {
        padding: 15px;
    }

    &-container {
        width: 100%;
        height: 3300px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-template-rows: repeat(auto-fill, 150px);
        grid-gap: 0;
        margin-top: 70px;

        @include mobile {
            grid-template-columns: repeat(auto-fill, 100px);
            grid-template-rows: repeat(auto-fill, 100px);
            height: 2200px;
        }

        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    &-item {
        &-top-left {
            border-left: 1px solid #23272B;
            border-top: 1px solid #23272B;

            @include mobile {
                display: none;
            }
        }

        &-top-right-bottom {
            border-right: 1px solid #23272B;
            border-top: 1px solid #23272B;
            border-bottom: 1px solid #23272B;

            @include mobile {
                display: none;
            }
        }

        &-right {
            border-right: 1px solid #23272B;
        }

        &-grey {
            background-color: #23272B;

            @include mobile {
                display: none;
            }
        }

        &-green {
            background-color: #55A300;
            opacity: 0.09872581845238099;
        }

        &-image {
            &-one {
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 3;
                background-color: #262626;

                @include mobile {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }

            &-two {
                background-color: #ccc;

                @include mobile {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
            }

            &-three {
                grid-column: 1/3;
                grid-row-start: 2;
                grid-row-end: 4;
                background-color: #262626;

                @include mobile {
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 4;
                    grid-row-end: 6;
                }
            }

            &-four {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 3;
                grid-column-end: 4;
                background-color: #ccc;

                @include mobile {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;
                }
            }

            &-five {
                background-color: #55A300;
                grid-row-start: 2;
                grid-row-end: 4;
                padding: 40px 15px;

                @include mobile {
                    grid-row-start: 3;
                    grid-row-end: 4;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    padding: 20px 15px 20px 40px;
                }
            }

            &-six {
                grid-column-start: 7;
                grid-row-start: 3;
                background-color: #23272B;

                @include mobile {
                    display: none;
                }
            }

            &-seven {
                grid-column-start: 3;
                grid-row-start: 4;
                background-color: #55A300;
                opacity: 0.09872581845238099;

                @include mobile {
                    grid-row-start: 7;
                    grid-row-end: 8;
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
            }

            &-eight {
                grid-column-start: 5;
                grid-row-start: 4;
                background-color: #262626;

                @include mobile {
                    display: none;
                }
            }

            &-nine {
                grid-column-start: 6;
                grid-column-end: 8;
                grid-row-start: 4;
                grid-row-end: 6;
                background-color: #dedede;

                @include mobile {
                    display: none;
                }
            }

            &-ten {
                grid-row-start: 5;
                background-color: #222;

                @include mobile {
                    grid-row-start: 6;
                    grid-row-end: 7;
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
            }

            &-eleven {
                grid-row-start: 5;
                grid-row-end: 7;
                grid-column-start: 2;
                grid-column-end: 4;
                background-color: #262626;

                @include mobile {
                    grid-row-start: 6;
                    grid-row-end: 8;
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }

            &-twelve {
                grid-row-start: 5;
                background-color: #23272B;

                @include mobile {
                    display: none;
                }
            }

            &-thirteen {
                grid-row-start: 6;
                grid-column-start: 4;
                background-color: #30373d;

                @include mobile {
                    display: none;
                }
            }

            &-14 {
                grid-row-start: 6;
                grid-row-end: 8;
                grid-column-start: 5;
                grid-column-end: 7;
                background-color: #cd8864;

                @include mobile {
                    display: none;
                }
            }

            &-15 {
                grid-row-start: 7;
                grid-column-start: 7;
                background-color: #21221e;

                @include mobile {
                    display: none;
                }
            }

            &-16 {
                grid-row-start: 7;
                grid-column-start: 1;
                background-color: #23272B;

                @include mobile {
                    display: none;
                }
            }

            &-17 {
                grid-row-start: 7;
                grid-column-start: 2;
                background-color: #55A300;
                opacity: 0.09872581845238099;

                @include mobile {
                    display: none;
                }
            }

            &-18 {
                grid-row-start: 7;
                grid-column-start: 3;
                border-right: 1px solid #252525;

                @include mobile {
                    display: none;
                }
            }

            &-19 {
                grid-row-start: 8;
                grid-row-end: 10;
                grid-column-start: 1;
                grid-column-end: 3;
                background-color: #cd8864;
            }

            &-20 {
                background-color: #252525;
                grid-row-start: 8;
                grid-column-start: 3;
            }

            &-21 {
                grid-row-start: 8;
                grid-column-start: 6;
                background-color: #23272B;

                @include mobile {
                    display: none;
                }
            }

            &-22 {
                grid-row-start: 9;
                grid-row-end: 11;
                grid-column-start: 3;
                grid-column-end: 5;
                background-color: #55A300;

                @include mobile {
                    display: none;
                }
            }

            &-23 {
                background-color: #252525;
                grid-row-start: 9;
                grid-column-start: 5;

                @include mobile {
                    display: none;
                }
            }

            &-24 {
                grid-row-start: 9;
                grid-row-end: 11;
                grid-column-start: 6;
                grid-column-end: 8;
                background-color: #cd8864;

                @include mobile {
                    display: none;
                }
            }

            &-25 {
                grid-row-start: 11;
                grid-column-start: 1;
                background-color: rgb(178, 189, 201);
            }

            &-26 {
                grid-row-start: 11;
                grid-row-end: 13;
                grid-column-start: 2;
                grid-column-end: 4;
                background-color: #252525;
            }

            &-27 {
                grid-row-start: 11;
                grid-column-start: 5;
                border-left: 1px solid #252525;
                border-top: 1px solid #252525;

                @include mobile {
                    display: none;
                }
            }

            &-28 {
                background-color: #23272B;
                grid-row-start: 11;
                grid-column-start: 6;

                @include mobile {
                    display: none;
                }
            }

            &-29 {
                grid-row-start: 12;
                grid-row-end: 14;
                grid-column-start: 5;
                grid-column-end: 7;
                background-color: #cd8864;

                @include mobile {
                    display: none;
                }
            }

            &-30 {
                background-color: #c35864;
                grid-row-start: 12;
                grid-column-start: 7;

                @include mobile {
                    display: none;
                }
            }

            &-31 {
                background-color: #23272B;
                grid-row-start: 13;
                grid-column-start: 1;

                @include mobile {
                    display: none;
                }
            }

            &-32 {
                background-color: #23272B;
                grid-row-start: 13;
                grid-column-start: 4;

                @include mobile {
                    display: none;
                }
            }

            &-33 {
                grid-row-start: 14;
                grid-row-end: 16;
                grid-column-start: 1;
                grid-column-end: 3;
                background-color: #ccd;
            }

            &-34 {
                background-color: #ccd;
                grid-row-start: 14;
                grid-column-start: 3;
            }

            &-35 {
                grid-row-start: 14;
                grid-column-start: 6;
                background-color: #55A300;
                opacity: 0.09872581845238099;

                @include mobile {
                    display: none;
                }
            }

            &-36 {
                grid-row-start: 15;
                grid-row-end: 19;
                grid-column-start: 4;
                background-color: #55A300;

                @include mobile {
                    display: none;
                }
            }

            &-37 {
                grid-row-start: 15;
                grid-row-end: 17;
                grid-column-start: 5;
                grid-column-end: 7;
                background-color: #ccd;

                @include mobile {
                    display: none;
                }
            }

            &-38 {
                background-color: #ccd;
                grid-row-start: 15;
                grid-column-start: 7;

                @include mobile {
                    display: none;
                }
            }

            &-39 {
                background-color: #253725;
                grid-row-start: 16;
                grid-column-start: 2;

                @include mobile {
                    display: none;
                }
            }

            &-40 {
                background-color: #c35864;
                grid-row-start: 17;
                grid-column-start: 1;
            }

            &-41 {
                grid-row-start: 17;
                grid-row-end: 19;
                grid-column-start: 2;
                grid-column-end: 4;
                background-color: #c35864;
            }

            &-42 {
                background-color: #253725;
                grid-row-start: 17;
                grid-column-start: 7;

                @include mobile {
                    display: none;
                }
            }

            &-43 {
                background-color: #2177ae;
                grid-row-start: 18;
                grid-column-start: 5;

                @include mobile {
                    display: none;
                }
            }

            &-44 {
                grid-row-start: 18;
                grid-row-end: 20;
                grid-column-start: 6;
                grid-column-end: 8;
                background-color: #2177ae;

                @include mobile {
                    display: none;
                }
            }

            &-45 {
                grid-row-start: 19;
                grid-column-start: 3;
                background-color: #55A300;
                opacity: 0.09872581845238099;

                @include mobile {
                    display: none;
                }
            }

            &-46 {
                background-color: #55A300;
                grid-row-start: 20;
                grid-column-start: 2;

                @include mobile {
                    display: none;
                }
            }

            &-47 {
                grid-row-start: 20;
                grid-row-end: 22;
                grid-column-start: 3;
                grid-column-end: 5;
                background-color: #2177ae;

                @include mobile {
                    @include gridColumn(1, 3);
                }
            }

            &-48 {
                background-color: #253725;
                grid-row-start: 20;
                grid-column-start: 5;

                @include mobile {
                    display: none;
                }
            }

            &-49 {
                background-color: #2177ae;
                grid-row-start: 21;
                grid-column-start: 5;

                @include mobile {
                    @include gridColumn(3, 4);
                }
            }

            &-50 {
                border-right: 1px solid #252525;
                border-bottom: 1px solid #252525;
                grid-row-start: 20;
                grid-column-start: 6;

                @include mobile {
                    display: none;
                }
            }



        }

    }
}

.candidate-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.candidate-img {
    width: 100%;
    height: 100%;
}


// Modal style
.modal {
    position: fixed;
    top: 0;
    left: 0;
    // right: 0;
    // bottom: 0;
    background-color: rgba(0,0,0,1);
    color: #fff;
    z-index: 99999;
    overflow: auto;
    width: 100%;
    max-height: 100%;
}

.modal-container {
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}