@import '../common';

.navbar {
    background-color: #17191C;
    border-bottom: 1px solid #252525;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 999;
    position: relative;

    @include mobile {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    &-list {
        display: inline-block;

        @include mobile{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: 100vh;
            z-index: 9999; // highest on the page
            background-color: #000;
            transform: translateX(100%);
            transition: transform .25s linear;
            padding: 5px;
            cursor: pointer;
        }

        &.show {
            transform: translateX(0);
        }

        li {
            display: inline-block;
            list-style: none;
            font-size: 0.7rem;
            margin-right: 50px;
            text-transform: uppercase;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: inline-block;
                line-height: 50px;
                font-size: inherit;

                @include mobile {
                    display: block;
                    font-size: 30px;
                    font-weight: 400;
                    max-width: 220px;
                    line-height: 1.2;
                }

            }

            @include mobile {
                display: block;
                margin-right: 0;
                margin-top: 30px;
            }
        }
    }

    .logo {
        padding-right: 30px;
    }

    .info {
        text-transform: capitalize;
        color: #30373D;

        @include mobile {
            font-size: 16px;
            max-width: 90%;
        }
    }
}

.active {
    color: green;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 3px;
        background-color: green;
        transform: translateX(-50%);

        @include mobile {
            display: none;
        }
    }
}

.mobile-menu {
    display: none;

    // FIXME: design the mobile menu bar
    @include mobile {
        display: inline-block;
        padding: 5px;
        border: 1px solid #aeaeaa;
        width: 25px;
        border-radius: 2px;

    }
}