.navbar {
    background-color: #17191C;
    border-bottom: 1px solid #252525;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 999;

    li{
       display: inline-block;
       list-style: none;
       font-size: 0.7rem;
       margin-right: 50px;
       text-transform: uppercase;

       &:last-child{
           margin-right: 0;
       }

       a {
           display: inline-block;
           line-height: 50px;
           font-size: inherit;
       }
    }

    .logo {
        padding-right: 30px;
    }

    .info {
        text-transform: capitalize;
    }
}

.active {
    color: green;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 3px;
        background-color: green;
        transform: translateX(-50%);
    }
}