@import '../common';

.navbar {
    background-color: #17191C;
    border-bottom: 1px solid #252525;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 999;

    @include mobile {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    &-list {
        display: inline-block;

        @include mobile{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            height: 100vh;
            z-index: 9999;
            background-color: #000;
            transform: translateX(100%);
            transition: transform .25s linear;
            cursor: pointer;
        }

        &.show {
            transform: translateX(0);
        }

        li {
            display: inline-block;
            list-style: none;
            font-size: 0.7rem;
            margin-right: 50px;
            text-transform: uppercase;

            &:first-child {
                display: none;
                @include mobile {
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    align-items: center;
                    margin: 0;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    padding: 5px 15px;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                display: inline-block;
                line-height: 50px;
                font-size: inherit;

                @include mobile {
                    display: block;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 1.2;
                    z-index: 99999;
                    padding: 0 15px;
                    padding: 20px 0 20px 15px;

                    span {
                        max-width: 200px;
                        font-size: inherit;
                        display: inline-block;
                    }
                }

            }

            @include mobile {
                display: block;
                margin-right: 0;
            }
        }
    }

    .logo {
        padding-right: 30px;
    }

    .logo-image {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .info {
        text-transform: capitalize;
        color: #465765;

        @include mobile {
            font-size: 16px;
            max-width: 90%;
            padding: 15px;
        }
    }
}

.active {
    color: green;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 3px;
        background-color: green;
        transform: translateX(-50%);

        @include mobile {
            display: none;
        }
    }
}

.mobile-menu {
    display: none;

    @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        text-align: center;
    }
}

.close-icon {
        color: #fff;
        padding: 0;
        transform: scale(1.5);
        background-color: inherit;
        border: 0;
}