@import '../../components/common';


.candidate {
    &-container {
        display: flex;
        width: 100vw;
        height: 100vh;

        @include mobile {
            flex-direction: column;
            height: 100%;
            padding: 20px;
        }
    }

    &-detail-column {
        width: 35%;
        height: 100%;
        padding: 50px 0 0 100px;
        position: relative;

        @include mobile {
            width: 100%;
            order: 2;
            padding: 0;
        }
    }

    &-image-column {
        width: 40%;
        height: 100%;
        background-color: #ccc;
        z-index: 1;
        position: relative;

        @include mobile {
            width: 100%;
            order: 1;
        }
    }

    &-vice-column {
        width: 25%;
        height: 100%;
        padding: 50px;

        @include mobile {
            width: 100%;
            order: 3;
            padding: 0;
        }
    }

    &-name {
        font-size: 100px;
        font-weight: 300;
        line-height: 1;
        margin-top: 50px;
        white-space: nowrap;
        position: relative;

        @include mobile {
            margin-top: 20px;
        }
    }

    &-description {
        padding-right: 50px;
        margin-top: 30px;
        padding-bottom: 50px;

        @include mobile {
            padding-right: 0;
        }
    }

    &-party {
        @include mobile {
            display: none;
        }
    }
}

.vice {
    &-image {
        width: 100%;
        background-color: #9b9b9b;

        & img {
            width: 100%;
            height: 100%;
        }

        @include mobile {
            margin-top: 20px;
        }
    }

    &-name {
        font-size: 40px;
        font-weight: 300;
        margin-top: 30px;
    }

    &-description {
        margin-top: 30px;
    }

}

.full-image {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

.close-section {
    display: inline;
    position: absolute;
    top: 10px;
    left: 10px;

    @include mobile {
        display: none;
    }
}